@import url('https://fonts.googleapis.com/css?family=Alegreya+Sans:800');

html, body {
  margin:0;
  padding:0;
  height:100%;
}

body {
  position: relative;
  font-family: 'Alegreya Sans', sans-serif;
  overflow-x: hidden;
  background-color: #36393f;
  color: white;
  font-size: 25px;
  margin: 0;
  padding: 0;
  min-height: 100%;
}

header {
  height: 100px;
  background: #2f3136;
  display: flex;
}

section {
  background: #36393f;
}

footer {
  display: flex;
  background: #2f3136;
  padding: 30px 20px;
  position:absolute;
  bottom: 0;
  width:100%;
  height:20px;   /* Height of the footer */
}

/* links */
a:link {
  color: #00FFFF;
}

a:visited {
  color: #00FF99;
}

header span {
  margin: 30px;
}

header span a {
  margin: 0;
  padding: 0;
}

header h1 {
  margin: auto;
  padding: 0;
}

title {
  display: block;
  font-weight: bolder;
  font-size: xx-large;
}

p {
  font-size: 1.5rem;
}

.nav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #2f3136;
  opacity: .9;
  overflow-x: hidden;
  padding-top: 60px;
  transition: 0.7s;
}

.nav a {
  display: block;
  padding: 10px 30px;
  font-size: 25px;
  text-decoration: none;
  color: #8e9297;
}

.nav a:hover {
  color: #fffff3;
  transition: 0.4s;
}

.nav .close {
  position: absolute;
  top: 0;
  right: 0px;
  margin-left: 0px;
  font-size: 30px;
}

.slide a {
  color: #000;
  font-size: 36px;
}

.tripSection {
  padding: 20px;
  display: flex;
}

.tripSection figure {
  margin: auto;
  text-align: center;
  width: 200px;
}

.tripSection figure img {
  width: 200px;
}

.sectionContent {
  padding: 0 0 40px 20px;
}

.footerLeftSide {
  margin-left: auto;
  padding: 0px 20px;
}

footer div {
  display: flex;
}

footer div label {
  padding: 0;
  margin: 0px 20px;
}

#content {
  transition: margin-left 0.7s;
  overflow: hidden;
  width: 100%;
  min-height:100%;
  position:relative;
  padding-bottom:60px;   /* Height of the footer */
}


